html {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  background-size: auto;
  background-color: hsl(275, 100%, 97%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'WorkSans-Bold';
  src: url('./assets/fonts/static/WorkSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('./assets/fonts/static/WorkSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('./assets/fonts/static/WorkSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.main-content {
  width: 80%;

  margin-top: 13em;
  margin-bottom: 13em;

  padding: 1em 2em;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
}

.title-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-family: 'WorkSans-Bold', sans-serif;
  font-size: large;
  font-weight: 700;
}

.question-box {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: stretch;
  gap: 3em;
  align-items: center;
}

.question {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-weight: 600;
}

.answer {
  display: none;
  font-family: 'WorkSans-RegularRegular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(292, 16%, 49%);
  line-height: 1.5rem;
  font-stretch: expanded;
}

svg {
  height: 45px;
  width: auto;
}

@media (min-width: 850px) {
  html {
    background-size: 100% auto;
  }

  /* todo */
}
